/* Media Queries Begin */
@media only screen and (max-width: 576px) {
	.col-sm-3{
		width: 25%;
	}
}   	

@media only screen and (min-width: 768px) {
	.col-sm-3{
		width: 50%;
		padding: 10px;
	}
}   

@media only screen and (max-width: 768px) {
 .bg-light {
    background-color: #55b3b5 !important;
 	}
}   
/* Media Queries End */
 
h1,h2{
      color: #55b3b5;
 }
 
h2{
      text-align: center !important; 
 }

body{
      background-color: #DCDCDC;
      font-family: Georgia;
 }
   
p {
      color: #000;
 }
   
footer {
      background-color: #A9A9A9;
      padding: 25px;
}
    
.box {
  padding: 20px;
  background: white;
}

.navbar-brand {
      background-color: #55b3b5;
      color: #ffffff !important; 
      padding: 10px;
 }

.container {
      	margin-top: 30px;
 }
   
.dataframe {
 	text-align: right;
}  

table {
    margin-left:auto; 
    margin-right:auto;
    margin-top: 50px;
    width:100%;
  }
   
 tr:nth-child(even) {
   	background: #CCC;
  }
   	
 tr:nth-child(odd) {
     background: #FFF;
}
   